# SPDX-FileCopyrightText: 2025 Marco Celoria <celoria.marco@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
